.aboutUs {

  // .aboutUs__container

  &__container {
  }

  // .aboutUs__title

  &__title {
    text-align: center;
    margin-bottom: rem(40);
  }

  // .aboutUs__content

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(40);
    padding: rem(20);
    border: 3px solid var(--black);
  }
}

.content-aboutUs {

  // .content-aboutUs__text

  &__text {
    color: var(--black);
  }
}

