.documents-popup {
  // .documents-popup__wrapper

  &__wrapper {
  }

  // .documents-popup__content

  &__content {
  }

  // .documents-popup__block

  &__block {
  }
}
.popup {
  // .popup__wrapper

  &__wrapper {
  }

  // .popup__content

  &__content {
  }

  // .popup__close

  &__close {
  }
}
.news-popup {
  // .news-popup__close

  &__close {
  }
}
.documents {
  // .documents__title

  &__title {
    margin-bottom: rem(40);
    color: var(--black);
  }

  // .documents__content

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(30);
  }
}
.title-section {
}
.documents-content {
  // .documents-content__img

  &__img {
    max-width: rem(604);
    max-height: rem(403);

    @media (max-width:$mobile){
      max-width: 100%;
      max-height: 100%;
    }
  }

  // .documents-content__list

  &__list {

   
  }

  // .documents-content__item

  &__item {
    display: flex;
    align-items: center;
    gap: rem(15);
    margin-bottom: rem(15);

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  // .documents-content__descr

  &__descr {
    color: var(--black);
  }

  // .documents-content__link

  &__link {
    min-width: rem(200);
    padding: rem(5) rem(8);
  }
}
.link {
}
