.earth {
  // .earth__container

  &__container {
  }

  // .earth__title

  &__title {
    margin-bottom: rem(40);
    color: var(--white);
  }

  // .earth__content

  &__content {
    margin-bottom: rem(30);
  }
}
.marketing-section {
}
.title-section {
}
.content-earth {
  // .content-earth__list

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(50);

   
  }
}
.list-earth {
  // .list-earth__item

  &__item {
   
    padding-bottom: rem(10);
    border-bottom: 2px solid var(--white);
  }

  // .list-earth__title

  &__title {
  }

  // .list-earth__text

  &__text {
  }

  // .list-earth__img

  &__img {
    display: block;
    width: 100%;
    max-height: rem(600);
    object-fit: cover;
  }

  // .list-earth__info

  &__info {
  }

  // .list-earth__information

  &__information {
  }

  // .list-earth__price

  &__price {
  }
}
.marketing-item {
}
.marketing-title {
}
.marketing-text {
}
.span {
}
.marketing-info {
}
.list-flight {
  // .list-flight__price

  &__price {
  }
}
.information-list {
  // .information-list__item

  &__item {
  }

  // .information-list__text

  &__text {
  }
}
.marketing-yellow {
}
