.photo {
  // .photo__content

  &__content {
  }
}

.content-photo {
  // .content-photo__container

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(20);
  }

  // .content-photo__title

  &__title {
  }

  // .content-photo__text

  &__text {
    margin-bottom: rem(40);
   
    color: #030303;
    text-align: center;
  }

  // .content-photo__list

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    box-shadow: rem(15) 0 rem(15) 0 var(--black);

    @media (max-width:$tablet){
      grid-template-columns: repeat(8, 1fr);
    }
  }

  // .content-photo__items

  &__items {
    grid-column: span 3;
    
    @media (max-width:$tablet){
      grid-column: span 4;
    }

    @media (max-width:$mobileSmall){
       grid-column: span 8; 
    }
  }

  // .content-photo__img

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}
.title-section {
}
