.reviews {
  background-color: var(--black);

  // .reviews__container

  &__container {
    height: rem(800);
  }

  // .reviews__title

  &__title {
    color: var(--white);
    margin-bottom: rem(30);
  }

  // .reviews__inst

  &__inst {
    
  }
}
.padding-section {
}
.title-section {
}
.elfsight-app-d583b279-766a-4da9-aff0-1e6d6803256a {
}

