.rules {
  background-color: var(--black);
  // .rules__container

  &__container {
  }

  // .rules__description

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(15);
    margin-bottom: rem(40);
  }

  // .rules__content

  &__content {
   
  }

  // .rules__text

  &__text {
    color: var(--white);
    font-size: rem(36);
    line-height: rem(48);
    font-weight: 600;
    border: 3px solid var(--white);
    padding: rem(10);
    text-align: center;
  }
}
.padding-section {
}
.description-rules {
  // .description-rules__title

  &__title {
    color: var(--white);
  }

  // .description-rules__descr

  &__descr {
    width: 80%;
    text-align: center;
  }
}
.title-section {
}
.content-rules {
  // .content-rules__list

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: rem(20);
    margin-bottom: rem(40);

    @media (max-width: $tablet) {
      grid-template-columns: repeat(8, 1fr);
    }
  }
}
.list-rules {
  // .list-rules__item

  &__item {
   grid-column: span 6;
   

    @media (max-width: $tablet) {
      grid-column: span 8;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: rem(20);
    margin-bottom: rem(50);

   

    @media (max-width:$mobile){
      flex-direction: column; 
      gap: rem(40);
   }
  }
}
.item-rules {
  // .item-rules__number

  &__number {
    
    font-size: rem(128);
    font-weight: 800;
    color: var(--black);
    text-shadow: 1px 0 1px var(--Yellow-Sea), 0 1px 1px var(--Yellow-Sea), -1px 0 1px var(--Yellow-Sea), 0 -1px 1px var(--Yellow-Sea);

    @media (max-width: $tablet) {
      font-size: rem(90);
    }

    @media (max-width:$mobile){
      margin: 0; 
   }
  }

  // .item-rules__descr

  &__descr {
   
  }

  .rules-left-descr {
  

    
  }

  // .item-rules__text

  &__text {
    
    font-size: rem(16);
  }
}
