// ===============
// colors palette
// ===============
:root {
  // Site colors (Цвета сайта):
  // =================================================================
  --black: #000; 
	--white: #fff;
  --blue: #0000ff;
	--Tory-Blue: #0D3FBF;
  --Cod-Gray: #1e1e1e;
  --Yellow-Sea: #FFAC0A;
  --mauve: #C998FB;
  --bossanova: #4F336C;

}
