<section id="booking" class="booking padding-section">
  <div class="booking__container">
    <div class="booking__content content-booking">
      <h2 class="content-booking__title title-section">Бронирование</h2>
      <ul class="content-booking__list list-booking">
        <li class="list-booking__item item-booking booking-left">
          <div class="item-booking__number">1</div>
          <p class="item-booking__descr">Звонок/сообщение в&nbsp;социальных сетях/переход на&nbsp;бронирование на&nbsp;сайте</p>
        </li>
        <li class="list-booking__item item-booking booking-right">
          <div class="item-booking__number">2</div>
          <p class="item-booking__descr">Выбор даты, объекта размещения и&nbsp;дополнительных условий</p>
        </li>
        <li class="list-booking__item item-booking booking-left">
          <div class="item-booking__number">3</div>
          <p class="item-booking__descr">Переход к оплате/Оплата</p>
        </li>
        <li class="list-booking__item item-booking booking-right">
          <div class="item-booking__number">4</div>
          <p class="item-booking__descr">Получение на&nbsp;электронную почту подтверждения бронирования</p>
        </li>
        <li class="list-booking__item item-booking">
          <div class="item-booking__number">5</div>
          <p class="item-booking__descr">В&nbsp;выбранную дату ко&nbsp;времени заселения прибыть на&nbsp;объект</p>
        </li>
      </ul>
    </div>
  </div>
</section>
