<section id="comfort" class="comfort padding-section">
  <div class="comfort__container">
    <div class="comfort__content content-comfort">
      <h2 class="content-comfort__title title-section">Комфорт</h2>
      <div class="content-comfort__text">Все самое удобное и&nbsp;комфортабельное для вас, дорогие гости!</div>
      <div class="content-comfort__text">
        Отдыхая в&nbsp;наших домиках, вы&nbsp;ощущаете и&nbsp;комфорт городской квартиры, и&nbsp;волшебство нетронутой природы. Это идеальный вариант, чтобы уйти от&nbsp;шумного мегаполиса, освободить голову от&nbsp;суеты и&nbsp;мыслей или побыть наедине с&nbsp;любимым человеком.
      </div>
    </div>
    <ul class="comfort__list list-comfort">
      <li class="list-comfort__items">
        <div class="list-comfort__title">WI-FI</div>
        <div class="list-comfort__text">Бесплатный интернет доступен в&nbsp;каждом доме</div>
      </li>
      <li class="list-comfort__items">
        <div class="list-comfort__title">Баня с панорамным окном</div>
        <div class="list-comfort__text">Отдохните душой и&nbsp;телом в&nbsp;настоящей русской бане с&nbsp;дровяной печью и&nbsp;видом на&nbsp;лес</div>
      </li>
      <li class="list-comfort__items">
        <div class="list-comfort__title">Парковка на&nbsp;территории</div>
        <div class="list-comfort__text">Постояльцам доступна бесплатная парковка на территории</div>
      </li>
      <li class="list-comfort__items">
        <div class="list-comfort__title">Все для Вашего комфорта</div>
        <div class="list-comfort__text">Полностью оборудованные дома где есть все и даже чуточку больше</div>
      </li>
      <li class="list-comfort__items">
        <div class="list-comfort__title">Игры для детей</div>
        <div class="list-comfort__text">В&nbsp;каждом доме есть настольные игры, бадминтон и&nbsp;прочее</div>
      </li>
      <li class="list-comfort__items">
        <div class="list-comfort__title">Книга гостя в&nbsp;каждом домике</div>
        <div class="list-comfort__text">В&nbsp;каждом домике есть Книга Гостя с&nbsp;полезными советами, которые пригодятся во&nbsp;время проживания</div>
      </li>
      <li class="list-comfort__items">
        <div class="list-comfort__title">Удобное месторасположение</div>
        <a href="https://yandex.ru/maps/?rtext=~55.569805, 35.811725" target="_blank" class="list-comfort__text">Адрес: М.О., Можайский район, СНТ «Стрижи» Координаты для навигатора: 55.569805, 35.811725</a>
      </li>
      <li class="list-comfort__items">
        <div class="list-comfort__title">Доставка еды</div>
        <div class="list-comfort__text">На территории нет ресторана, но мы подготовили в Книге Гостя список кафе и ресторанов, которые осуществляю доставку питания до ворот</div>
      </li>
      <li class="list-comfort__items">
        <div class="list-comfort__title">Гриль и&nbsp;зона кострища</div>
        <div class="list-comfort__text">У&nbsp;каждого дома есть оборудованная мангальная зона, а&nbsp;для уютных вечеров перед костром есть зона кострища</div>
      </li>
      <li class="list-comfort__items">
        <div class="list-comfort__title">Скидки для Вас</div>
        <div class="list-comfort__text">Мы&nbsp;предоставляем скидку для постоянных гостей, а&nbsp;еще если у&nbsp;Вас важное событие, годовщина, свадьба или день рождения</div>
      </li>
      <li class="list-comfort__items">
        <div class="list-comfort__title">Глэмпинг</div>
        <div class="list-comfort__text">
          Lounge House расположен в&nbsp;одном из&nbsp;лучших мест Можайского района, рядом с&nbsp;Можайским водохранилищем, как его еще называют Можайским Морем. До&nbsp;песчаного берега Можайского водохранилища 900&nbsp;метров. Это 15&nbsp;минут пешком, прогулочным шагом. Проход к&nbsp;берегу
          через сосновый бор. Воздух здесь просто мечта! Пейзажи, которые&nbsp;Вы сможете наблюдать, отдыхая тут, наполнены красотой и&nbsp;покоем.
        </div>
      </li>
      <li class="list-comfort__items">
        <div class="list-comfort__title">Возможно бесконтактное заселение</div>
        <div class="list-comfort__text">Вы можете приехать и уехать в любое время,в том числе ночью, рано утром или поздно вечером</div>
      </li>
    </ul>
  </div>
</section>
