<section class="hero content-go">
  <div data-fullscreen data-prlx-parent class="hero__top top-hero start-title">
    <div class="top-hero__container">
      <div data-prlx class="top-hero__content start-content">
        <h1 class="top-hero__title">ЛУЧШИЕ ВОСПОМИНАНИЯ НАЧИНАЮТСЯ ЗДЕСЬ...</h1>
        <a data-goto-header data-goto="#hero-bottom" class="top-hero__link">
          <svg class="top-hero__link-svg active-btn">
            <use xlink:href="@img/icons/icons.svg#arrow-bottom"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div data-prlx id="hero-bottom" class="hero__bottom bottom-hero">
    <div class="bottom-hero__container">
      <div class="bottom-hero map-house">
        <div class="map-house__maps">
          <img src="@img/hero/hero-map.jpg" alt="Изображение" />
          <div class="map-house__grid">
          <div class="map-house__link-block house-la">
            <a href="homeLA.html" class="map-house__link active-btn">Дом LA</a>
          </div>
          <div class="map-house__link-block house-gs">
            <a href="homeGS.html" class="map-house__link active-btn">Дом GS</a>
          </div>
          <div class="map-house__link-block house-ld">
            <a href="homeLD.html" class="map-house__link active-btn">Дом LD</a>
          </div>
          <div class="map-house__link-block pergola">
            <a data-popup="#pergola" class="map-house__link active-btn">Пергола</a>
          </div>
          <div class="map-house__link-block ban">
            <a data-popup="#ban" class="map-house__link active-btn">Чан</a>
          </div>
          <div class="map-house__link-block bonfire">
            <a data-popup="#bonfire" class="map-house__link active-btn">Костровая</a>
          </div>
          <div class="map-house__link-block grill-left">
            <a data-popup="#grill" class="map-house__link active-btn">Гриль</a>
          </div>
          <div class="map-house__link-block grill-right">
            <a data-popup="#grill" class="map-house__link active-btn">Гриль</a>
          </div>
          <div class="map-house__link-block pavilion">
            <a data-popup="#pavilion" class="map-house__link active-btn">Беседка</a>
          </div>
        </div>
        </div>
      </div>
      <div class="bottom-hero__content">
      <h3 class="bottom-hero__title title-section">Описание глэмпинга</h3>
      <div class="bottom-hero__text-center">Глэмпинг&nbsp;&mdash; это отдых на&nbsp;природе на&nbsp;уровне комфорта класса &laquo;люкс&raquo;.</div>
      <div class="bottom-hero__text">
        Наша жизнь наполнена динамикой и&nbsp;суетой. Но&nbsp;надо однажды нажать на&nbsp;тормоз и&nbsp;замедлиться.И для этого мы&nbsp;вам предлагаем уютный семейный отдых, где вы&nbsp;сможете отдохнуть и&nbsp;провести время вместе с&nbsp;друзьями или любимым человеком.
      </div>
      <div class="bottom-hero__text">
        Lounge House расположен в&nbsp;самом живописном месте в&nbsp;московской области, в&nbsp;хвойных лесов и&nbsp;одного из&nbsp;самых чистых водоемов под названием Можайское море. А&nbsp;все потому, что ширина реки достигает 2&nbsp;км и&nbsp;не&nbsp;виден другой берег.
      </div>
      <div class="bottom-hero__text">
        К&nbsp;нам приезжают,чтобы сменить привычный городской ритм жизни на&nbsp;спокойный загородный отдых, соприкоснувшись с&nbsp;природой и&nbsp;отдохнув в&nbsp;комфортных домиках, наслаждаясь чистым лесным воздухом и&nbsp;звенящей тишиной, провести душевный вечер у&nbsp;костра, посидеть
        с&nbsp;любимыми у&nbsp;камина, посмотреть хорошие фильмы на&nbsp;проекторе.
      </div>
      <div class="bottom-hero__text">Нас выбирают пары, семьи с&nbsp;детьми, друзья и&nbsp;просто&nbsp;те, кто хочет побыть в&nbsp;одиночестве, у&nbsp;нас каждый гость по-настоящему отдыхает душой и&nbsp;телом.</div>
      <div class="bottom-hero__text">Несколько фото не&nbsp;может передать атмосферу так, как один видеообзор... Несколько видеообзоров не&nbsp;дадут прочувствовать наше волшебное место так, как Ваше одно личное присутствие... Приезжайте и&nbsp;убедитесь в&nbsp;этом сами!</div>
      <div class="bottom-hero__text">В каждом доме установлен чан. Один час чана = три часа в бане.</div>

      <div class="bottom-hero__booking booking-hero">
        <div class="booking-hero__text">Забронируйте свой лучший отдых прямо сейчас.</div>
        <a href="#BukzaContainer25415" class="booking-hero__link link">Забронировать</a>
      </div>
    </div>
    </div>
  </div>
</section>
