<section id="house" class="house padding-section">
  <div class="house__container">
    <div class="house__info info-house">
      <h2 class="info-house__title title-section">Описание домов</h2>
      <p class="info-house__text">
        Глэмпинг Lounge House&nbsp;&mdash; это пространство для перезагрузки и&nbsp;релакса в&nbsp;тишине и&nbsp;спокойствии. У&nbsp;каждого премиум домика своя небольшая уединенная территория со&nbsp;своей зоной отдыха, мангалом и&nbsp;баней. Внутри домов все удобства для комфортного проживания.
      </p>
    </div>
    <div class="house__description description-house">
      <div class="description-house__left left-description">
        <div class="left-description__image">
          <img src="@img/house/houseLA/houseLA.jpg" alt="Изображение" class="left-description__img" />
        </div>
        <ul class="left-description__list list-description list-tippy">
          <li class="list-description__item item-tippy">
           <svg data-tippy-content="Wi-Fi">
            <use xlink:href="@img/icons/icons.svg#wi-fiHouse"></use>
           </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Душевая стойка с тропическим душем">
              <use xlink:href="@img/icons/icons.svg#shower-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Мини холодильник">
              <use xlink:href="@img/icons/icons.svg#refrigerator-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
           <svg data-tippy-content="Мини бар">
            <use xlink:href="@img/icons/icons.svg#bar-house"></use>
           </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Фен">
              <use xlink:href="@img/icons/icons.svg#hairDryer-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Кухононная мебель со столовыми приборами до 4 человек">
              <use xlink:href="@img/icons/icons.svg#kitchen-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Электрический чайник">
              <use xlink:href="@img/icons/icons.svg#kettle-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Микроволновая печь">
              <use xlink:href="@img/icons/icons.svg#microwave-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Двухспальная кровать формата KingSize">
              <use xlink:href="@img/icons/icons.svg#bed-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Мягкая мебель">
              <use xlink:href="@img/icons/icons.svg#armchair-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Двухспальный диван в гостиной">
              <use xlink:href="@img/icons/icons.svg#sofa-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Курить в доме запрещено">
              <use xlink:href="@img/icons/icons.svg#noSmoking-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
           <svg data-tippy-content="С животными в дом запрещено">
            <use xlink:href="@img/icons/icons.svg#animalFree-house"></use>
           </svg>
          </li>
          <li class="list-description__item item-tippy">
           <svg data-tippy-content="Парковка">
            <use xlink:href="@img/icons/icons.svg#parking-house"></use>
           </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Печь с Камином">
              <use xlink:href="@img/icons/icons.svg#fireplace-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Закрытая ухоженная территория">
              <use xlink:href="@img/icons/icons.svg#barrier-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Дизайнерский ремонт">
              <use xlink:href="@img/icons/icons.svg#renovation-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Новогодние праздники">
              <use xlink:href="@img/icons/icons.svg#newYear-house"></use>
            </svg>
          </li>
        </ul>
        <a href="homeLA.html" class="left-description__link link">Подробнее</a>
      </div>
      <div class="description-house__right right-description">
        <h3 class="right-description__title">Дом&nbsp;LA</h3>
        <p class="right-description__text">
          Домик находится на&nbsp;закрытой ухоженной территории с&nbsp;летней мебелью и&nbsp;мангальной зоной. Мангал крытый, поэтому в&nbsp;любую погоду можно приготовить шашлык, рыбу и&nbsp;овощи. Шампура и&nbsp;дрова мы&nbsp;предоставляем. Дополнительно можно приобрести уголь и&nbsp;розжиг.
        </p>
        <p class="right-description__text">Описание: Домик состоит из&nbsp;2х&nbsp;этажей, объединенных общим пространством, наверху располагается спальня, а&nbsp;внизу гостиная, ванная и&nbsp;кухня.</p>
      </div>
    </div>
    <div class="house__description description-house">
      <div class="description-house__left left-description">
        <div class="left-description__image">
          <img src="@img/house/houseLD/houseLD.jpg" alt="Изображение" class="left-description__img" />
        </div>
        <ul class="left-description__list list-description list-tippy">
          <li class="list-description__item item-tippy">
           <svg data-tippy-content="Wi-Fi">
            <use xlink:href="@img/icons/icons.svg#wi-fiHouse"></use>
           </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Душевая стойка с тропическим душем">
              <use xlink:href="@img/icons/icons.svg#shower-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Мини холодильник">
              <use xlink:href="@img/icons/icons.svg#refrigerator-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
           <svg data-tippy-content="Мини бар">
            <use xlink:href="@img/icons/icons.svg#bar-house"></use>
           </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Фен">
              <use xlink:href="@img/icons/icons.svg#hairDryer-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Кухононная мебель со столовыми приборами до 4 человек">
              <use xlink:href="@img/icons/icons.svg#kitchen-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Электрический чайник">
              <use xlink:href="@img/icons/icons.svg#kettle-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Микроволновая печь">
              <use xlink:href="@img/icons/icons.svg#microwave-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Двухспальная кровать формата KingSize">
              <use xlink:href="@img/icons/icons.svg#bed-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Мягкая мебель">
              <use xlink:href="@img/icons/icons.svg#armchair-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Двухспальный диван в гостиной">
              <use xlink:href="@img/icons/icons.svg#sofa-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Курить в доме запрещено">
              <use xlink:href="@img/icons/icons.svg#noSmoking-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
           <svg data-tippy-content="С животными в дом запрещено">
            <use xlink:href="@img/icons/icons.svg#animalFree-house"></use>
           </svg>
          </li>
          <li class="list-description__item item-tippy">
           <svg data-tippy-content="Парковка">
            <use xlink:href="@img/icons/icons.svg#parking-house"></use>
           </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Печь с Камином">
              <use xlink:href="@img/icons/icons.svg#fireplace-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Закрытая ухоженная территория">
              <use xlink:href="@img/icons/icons.svg#barrier-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Дизайнерский ремонт">
              <use xlink:href="@img/icons/icons.svg#renovation-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Новогодние праздники">
              <use xlink:href="@img/icons/icons.svg#newYear-house"></use>
            </svg>
          </li>
        </ul>
        <a href="homeLD.html" class="left-description__link link">Подробнее</a>
      </div>
      <div class="description-house__right right-description">
        <h3 class="right-description__title">Дом LD</h3>
        <p class="right-description__text">
          В&nbsp;домике 4&nbsp;спальных места&nbsp;&mdash; идеально и&nbsp;для двоих гостей, и&nbsp;для большой компании: Изолированная спальня с&nbsp;ортопедическим матрасом Аскона 140*200. Эта комната обычно используется для детей, здесь находятся игрушки и&nbsp;настольные игры. Двуспальное место
          на&nbsp;втором этаже с&nbsp;большим ортопедический матрасом Аскона 180*200 Раскладной диван-кровать в&nbsp;кухне-гостиной.
        </p>
      </div>
    </div>
    <div class="house__description description-house">
      <div class="description-house__left left-description">
        <div class="left-description__image">
          <img src="@img/house/houseGS/houseGS.jpg" alt="Изображение" class="left-description__img" />
        </div>
        <ul class="left-description__list list-description list-tippy">
          <li class="list-description__item item-tippy">
           <svg data-tippy-content="Wi-Fi">
            <use xlink:href="@img/icons/icons.svg#wi-fiHouse"></use>
           </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Душевая стойка с тропическим душем">
              <use xlink:href="@img/icons/icons.svg#shower-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Мини холодильник">
              <use xlink:href="@img/icons/icons.svg#refrigerator-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
           <svg data-tippy-content="Мини бар">
            <use xlink:href="@img/icons/icons.svg#bar-house"></use>
           </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Фен">
              <use xlink:href="@img/icons/icons.svg#hairDryer-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Кухононная мебель со столовыми приборами до 4 человек">
              <use xlink:href="@img/icons/icons.svg#kitchen-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Электрический чайник">
              <use xlink:href="@img/icons/icons.svg#kettle-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Микроволновая печь">
              <use xlink:href="@img/icons/icons.svg#microwave-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Двухспальная кровать формата KingSize">
              <use xlink:href="@img/icons/icons.svg#bed-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Мягкая мебель">
              <use xlink:href="@img/icons/icons.svg#armchair-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Двухспальный диван в гостиной">
              <use xlink:href="@img/icons/icons.svg#sofa-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Курить в доме запрещено">
              <use xlink:href="@img/icons/icons.svg#noSmoking-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
           <svg data-tippy-content="С животными в дом запрещено">
            <use xlink:href="@img/icons/icons.svg#animalFree-house"></use>
           </svg>
          </li>
          <li class="list-description__item item-tippy">
           <svg data-tippy-content="Парковка">
            <use xlink:href="@img/icons/icons.svg#parking-house"></use>
           </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Печь с Камином">
              <use xlink:href="@img/icons/icons.svg#fireplace-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Закрытая ухоженная территория">
              <use xlink:href="@img/icons/icons.svg#barrier-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Дизайнерский ремонт">
              <use xlink:href="@img/icons/icons.svg#renovation-house"></use>
            </svg>
          </li>
          <li class="list-description__item item-tippy">
            <svg data-tippy-content="Новогодние праздники">
              <use xlink:href="@img/icons/icons.svg#newYear-house"></use>
            </svg>
          </li>
        </ul>
        <a href="homeGS.html" class="left-description__link link">Подробнее</a>
      </div>
      <div class="description-house__right right-description">
        <h3 class="right-description__title">Дом&nbsp;&mdash; Баня&nbsp;GS</h3>
        <p class="right-description__text">
          Вы&nbsp;только посмотрите какая у&nbsp;нас баня! Есть место , где можно отдохнуть , посидеть, попить травяной чай или пиво. Внутри баня отделана вагонкой из&nbsp;кедра!!! Этот неповторимый аромат будет сопровождать вас во&nbsp;время парения ! Есть душ, из&nbsp;которого можно полить
          на&nbsp;себя холодной водой после парилки или просто помыться. Ну&nbsp;и&nbsp;конечно&nbsp;же парная.
        </p>
        <p class="right-description__text">Если вы&nbsp;не&nbsp;проживаете в&nbsp;наших домиках, но&nbsp;хотите посетить нашу баню&nbsp;&mdash; это возможно! В&nbsp;стоимость посещения входят банные полотенца и&nbsp;веник.</p>
        <p class="right-description__text">
          Описание: Максимальная вместимость бани&nbsp;&mdash; до&nbsp;4&nbsp;человек. В&nbsp;бане имеется изолированная спальня, ванная комната, зал с&nbsp;кухней, парильня. На&nbsp;террасе у&nbsp;бани и&nbsp;домика расположен чан на&nbsp;8&nbsp;человек, мангальная зона, садовая мебель
          и&nbsp;шезлонги.*
        </p>
      </div>
    </div>
  </div>
</section>
