.footer {
  background-color: var(--black);
  // .footer__container

  &__container {
  }

  // .footer__top

  &__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(40);
    gap: rem(40);
    @media (max-width: $mobile) {
      flex-direction: column;
      gap: rem(30);
    }
 }

  // .footer__bottom

  &__bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: rem(40);

    @media (max-width: 1000px) {
      flex-direction: column-reverse;
      gap: rem(30)
    }

    @media (max-width: $mobileSmall) {
      align-items: flex-start;
    }
  }
}
.top-footer {
  // .top-footer__logotip

  &__logotip {
    margin-bottom: rem(30);

    @media (max-width:$mobile){
      webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: gray; /* IE 6-9 */
      opacity: 0.5;
    }
  }

  // .top-footer__contacts

  &__contacts {
    margin-bottom: rem(15); 
    
      @media (max-width:$mobile){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
      }
   }

  // .top-footer__nav

  &__nav {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    width: 70%;

    @media (max-width: $mobile) {
      width: 100%;
    }

    @media (max-width: $mobileSmall) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
.nav-footer {
  // .nav-footer__title

  &__title {
    margin-bottom: rem(10);
    font-weight: 800;
    text-align: center;
  }

  // .nav-footer__list

  &__list {
  }

  // .nav-footer__item

  &__item {
    margin-bottom: rem(8);

    &:first-child {
      font-weight: 600;
      margin-bottom: rem(20);
    }
    &:last-child {
      margin-bottom: 0;
    }

    a {
      cursor: pointer;
    }
  }

  // .nav-footer__link

  &__link {
  }
}
.bottom-footer {
  // .bottom-footer__contacts

  &__contacts {
  }

  // .bottom-footer__info

  &__info {
  }
}
.contacts-footer {
  // .contacts-footer__name

  &__name {
  }

  // .contacts-footer__list

  &__list {
  }

  // .contacts-footer__item

  &__item {
  }

  // .contacts-footer__link

  &__link {
  }
}
.info-footer {
  // .info-footer__list

  &__list {
    margin-bottom: rem(15);
  }

  // .info-footer__item

  &__item {
  }

  // .info-footer__link

  &__link {
  }

  // .info-footer__payment

  &__payment {
    display: flex;
    align-items: center;
    gap: rem(20);
    flex-wrap: wrap;
  }

  // .info-footer__author

  &__author {
    display: block;
    font-family: "PT", sans-serif;
    font-size: rem(14);
    line-height: rem(18);
    color: #808080;
  }
}
.payment-footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: rem(15);

 
  // .payment-footer__items

  &__items {
    @media (max-width: $mobile) {
      grid-column: span 3;
    }
  }

  // .payment-footer__link

  &__link {
    webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
    transition: filter 0.3s ease-in-out;
    svg {
      width: rem(89);
      height: rem(53);
    }

    &:hover {
      webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      -o-filter: none;
      filter: none;

      filter: none; /* IE 6-9 */
    }
  }
}
.st0 {
}
.st1 {
}

.top-footer {
  // .top-footer__list

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(20);

    @media (max-width:$mobileSmall){
       gap: rem(15); 
    }
  }
}
.top-footer-list {
  // .top-footer-list__item

  &__item {
  }

  // .top-footer-list__link

  &__link {
    webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
    transition: filter 0.3s ease-in-out;
    svg {
      width: rem(40);
      height: rem(40);
    }

    &:hover {
      webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      -o-filter: none;
      filter: none;

      filter: none; /* IE 6-9 */
    }

    .email-footer {
      fill: var(--Tory-Blue);
    }
  }
}

.info-footer {
  // .info-footer__app

  &__app {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: rem(15);
    flex-wrap: wrap;
  }
}
.app-list {
  // .app-list__item

  &__item {
  }

  // .app-list__link

  &__link {
  
    svg {
      width: rem(150);
      height: rem(50);
      transition: fill .3s ease-in-out;
    }

    &:hover svg {
      fill: #808080;
    }
  }
}
